* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.game-title {
  font-family: "Chelsea Market", serif;
  font-size: 3rem;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

#front-page {
  width: 100%;
  height: 90%;
  display: block;
  text-align: center;
  margin-top: 50px;
  background-image: url("./assets/images/backgrounds/main-menu-bg.jpg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  font-size: 2rem;
  width: 350px;
  height: 80px;
  text-align: center;
  border: 3px solid #c1c1c1;
  border-radius: 12px;
  font-family: "Jersey 20", serif;
  background-color: #f3f4f5;
}

input:focus {
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #3a0601;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Jersey 20", serif;
  margin: 12px 0;
}

button:hover {
  background-color: #c0392b;
}

#play-button {
  font-size: 4rem;
  width: 200px;
}

.error-input-message {
  height: 10px;
  color: white;
  display: block;
  font-size: 1.4rem;
  font-family: "Jersey 20", serif;
}

#scoreboard {
  display: none;
  width: 80%;
  height: 80%;
  color: white;
  text-align: center;
  padding: 20px;
}

#game-canvas {
  z-index: 1;
  display: none;
}

.modal {
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
}
